@keyframes fadeScreen {

  from {

    opacity: 0;
    transform:
      translateY(10px);

  }

  to {

    opacity: 1;
    transform:
      translateY(0);

  }

}
@keyframes backgroundFloat {

  0% {

    transform:
      translateY(0px);

    opacity: 0.7;

  }

  50% {

    transform:
      translateY(-20px);

    opacity: 1;

  }

  100% {

    transform:
      translateY(0px);

    opacity: 0.7;

  }

}
