/* =========================================
   RESET
========================================= */

*,
*::before,
*::after {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;

    -webkit-tap-highlight-color:
        transparent;

}

body {

    min-height: 100vh;

}

button,
input,
textarea {

    border: none;
    outline: none;

    background: none;

    font: inherit;

}

button {

    cursor: pointer;

}

img {

    display: block;

    max-width: 100%;

}

a {

    text-decoration: none;

    color: inherit;

}

ul,
ol {

    list-style: none;

}
