:root{
  --bg:#06110d;

  --glass:rgba(255,255,255,0.06);
  --glass-border:rgba(255,255,255,0.08);

  --text:#ffffff;
  --muted:rgba(255,255,255,0.6);

  --emerald:#00d47e;
  --emerald-soft:#00ffae;

  --radius:28px;
}
