.primary-btn {

  height: 52px;

  padding:
    0 22px;

  border-radius: 18px;

  background:
    rgba(0,255,174,0.15);

  border:
    1px solid
    rgba(0,255,174,0.25);

  color:
    #00ffae;

  font-weight: 600;

  transition:
    0.25s;

}

.primary-btn:active {

  transform:
    scale(0.96);

}
