.bottom-nav {

  position: fixed;

  left: 50%;
  bottom: 20px;

  transform:
    translateX(-50%);

  width:
    calc(100% - 30px);

  max-width: 470px;

  height: 75px;

  border-radius: 28px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 1000;

}

.nav-btn {

  width: 52px;
  height: 52px;

  border-radius: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  color:
    rgba(255,255,255,0.7);

  transition:
    0.25s;

}

.nav-btn.active {

  background:
    rgba(0,255,174,0.15);

  color:
    #00ffae;

  box-shadow:
    0 0 20px
    rgba(0,255,174,0.3);

}
